@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-gradient: -webkit-linear-gradient(
    70deg,
    #385bf998 0%,
    #385bf9ec 60%,
    #385cf9 80%
  );

  --gradient: -webkit-linear-gradient(40deg, #385bf9a4, #385bf9d1, #385cf9);
  --gradient-hover: -webkit-linear-gradient(40deg, #2048fc, #385bf9, #385cf9);
  --primary: #385cf9;
  --secondary: #1b45ff;
  --dark: #2a2b2c;
  --grey: #181c28;
  --lgrey: #555;
  --dark-white: #cccccc;
  --light: #eeeeee;
  --black: #000000;
  --white: #ffffff;

  --sm: 0.8rem;
  --smx: 0.9rem;
  --norm: 1rem;
  --md: 1.2rem;
  --smd: 1.5rem;
  --lg: 1.8rem;
  --xl: 2.4rem;
  --xxl: 3.2rem;
  --xxxl: 4.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

html::-webkit-scrollbar {
  width: 7px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}

html::-webkit-scrollbar-track {
  background-color: var(--white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
